@font-face {
    font-family: 'Brush Script';
    src: url('BrushScriptRegularSWFTE.woff2') format('woff2'),
        url('BrushScriptRegularSWFTE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

